$ivory: #fffff0;
$red: #ff0d00;
$green: #379827;
$blue: #71a8cf;
$yellow: #fdbd12;
$pink: #E22356;
$black: #222;
$white: #fff;
$pink: #f99;

$purple: #5a2a6b;
$orange: #ff8100;
$lichtgrau: #d7d7d7;
$lilac: #9493da;
