$break-full-width: gridsystem-width();
$break-tablet-landscape: 1024px;
$break-tablet-portrait: 768px;
$break-phone-landscape: 480px;
$break-phone-portrait: 320px;

@mixin when-full-width {
	@media (min-width: $break-full-width) {
		@content;
	}
}

@mixin when-tablet-landscape {
	@media (min-width: $break-tablet-landscape) {
		@content;
	}
}

@mixin when-tablet-portrait {
	@media (min-width: $break-tablet-portrait) {
		@content;
	}
}

@mixin when-phone-landscape {
	@media (min-width: $break-phone-landscape) {
		@content;
	}
}

@mixin when-phone-portrait {
	@media (min-width: $break-phone-portraitx) {
		@content;
	}
}
