$num-columns: 12;
$column-width: 100% / $num-columns;
$content-width: 1024px;

@mixin full-width {
	width: 100%;
	@include rem(padding-left, 1rem);
	@include rem(padding-right, 1rem);
}

@mixin content-width {
	@include full-width;
	@include when-tablet-portrait {
		width: $column-width * 10;
		margin: {
			left: $column-width;
			right: $column-width;
		}
	}
}

body {
	overflow-x: hidden;
	@include when-full-width {
		max-width: $content-width;
		margin: 0 auto;
	}
	.no-mediaqueries & {
		max-width: $content-width;
		margin: 0 auto;
 	}
}
