@mixin full-width {
	@include column(12);
	padding: {
		left: 1em;
		right: 1em;
	}
}

@mixin content-width {
	@include full-width;
	@include when-tablet-portrait {
		@include column(10);
		@include push(1);
	}
}

body {
	@include when-full-width {
		max-width: gridsystem-width();
		overflow-x: hidden;
		margin: 0 auto;
	}
}
