.ratpack-logo:not(.small) {
	@include at-least($tablet-portrait) {
		margin-bottom: 1.5em;
	}
}

.pagination {
	@include margin-leader(1);
	@include margin-trailer(1);

	@include content-width;

	ul {
		@include clearfix;
		list-style: none;
		padding: 0.5em 0 0.25em;
		border: {
			color: #222;
			style: dotted;
			width: 0.125em 0;
		}
	}
	li {
		width: $column-width * 4;
		float: left;
		padding: 0;

		&.prev {
			text-align: left;
		}
		&.next {
			text-align: right;
		}
		&.index {
			text-align: center;
			&:first-child {
				margin-left: $column-width * 4;
			}
		}
	}

	a {
		$arrow-color: $anchor-font-color;
		$highlight-color: $anchor-font-color-hover;

		display: inline-block;
		vertical-align: middle;
		max-width: 100%;
		@include ellipsis;

		font-style: italic;
		line-height: 2.65em;

		position: relative;
		&:after {
			display: inline-block;
			position: absolute;
			bottom: 0;
			text-indent: 0;
			color: $arrow-color;
			font: {
				size: 1.5em;
				style: normal;
			}
		}

		&:hover, &:focus {
			&:after {
				color: $highlight-color;
			}
		}

		&[rel="index"]{
			padding-top: 1.25em;
			line-height: inherit;
			&:after {
				content: "\25B2";
				top: 0;
				left: 50%;
				margin-left: -0.5em;
				line-height: 1;
			}
		}

		&[rel="prev"] {
			padding-left: 2.25em;
			&:after {
				left: 0.5em;
				content: "\25C0";
			}
		}

		&[rel="next"] {
			padding-right: 2.25em;
			&:after {
				right: 0.5em;
				content: "\25B6";
			}
		}
	}
}

.toc {
	@include margin-leader(1);
	@include margin-trailer(1);

	header, > ul, > ol {
		@include content-width;
		@include clearfix;

		margin-top: 0;
		&:last-child {
			margin-bottom: 0;
		}
	}

	h3 {
		margin: 0;
	}

	li {
		list-style: none;
	}

	.toc_number {
		display: inline-block;
		margin-right: 1em;
		margin-top: 0.25em;
	}

	.manual-links {
		@include margin-trailer(1);
		h2 {
			@include adjust-font-size-to(16px);
		}
		@include at-least($tablet-portrait) {
			@include link-bar;
			h2 {
				float: right;
				line-height: 2;
				margin: 0;
			}
			a {
				@include diamond-button;
				margin-right: 0.5em
			}
		}
	}
}

.manual {
	@include margin-leader(1);
	@include margin-trailer(2);

	.chapter {
		@include content-width;
		@include margin-trailer(1);
		@include divider;
	}

	h1, h2, h3, h4, h5, h6 {
		position: relative;
		@include at-least($tablet-portrait) {
			span {
				position: absolute;
				right: 100%;
				@include rem(padding-right, 0.5rem);
			}
		}
	}
}

.page-footer {
	h2, p {
		margin: {
			top: 0;
			bottom: 0;
		}
	}

	h2 {
		@include adjust-font-size-to($to-size: $footer-font-size, $from-size: $footer-font-size);
		text-transform: uppercase;
	}

	@include at-least($tablet-portrait) {
		h2, p {
			width: $column-width * 6;
			float: left;
		}

		p {
			text-align: right;
		}
	}
}

.fontface {
	a[href='http://www.google.com/fonts/specimen/Lora'] {
		font-style: italic;
	}
	a[href='http://www.google.com/fonts/specimen/Playfair+Display'] {
		font: {
			family: "Playfair Display";
			weight: 700;
		}
		@include rem(line-height, 1.5rem);
		vertical-align: bottom;
	}
	a[href='http://www.google.com/fonts/specimen/Engagement'] {
		font: {
			family: Engagement;
			size: 1.65em;
		}
		@include rem(line-height, 1.5rem);
		vertical-align: bottom;
	}
}
