$default-transition-duration: 0.15s;

// Compass contrast functions
$contrasted-dark-default: $black;

// Semantic grid settings
$total-width: 100%;

// Compass vertical rhythm
$base-line-height: 22.4px;
