/*
 * Creates a diamond background behind an element.
 */
@mixin diamond-background($color: transparentize($blue, 0.25), $hover-color: darken($color, 20%), $width: 8em, $height: 1.5em) {
	text-align: center;
	position: relative;
	z-index: 0;
	min-width: $width;
	font-family: $sans-font-family;
	.fontface & {
		font-weight: 400;
	}
	text-transform: uppercase;
	&:before, &:after {
		position: absolute;
		z-index: -1;
		content: " ";
		left: 50%;
		margin-left: -$width / 2;
		height: 0;
		width: 0;
		border: {
			left: $width / 2 solid transparent;
			right: $width / 2 solid transparent;
		}
		@include single-transition;
	}
	&:before {
		bottom: 50%;
		border-bottom: $height solid $color;
	}
	&:after {
		top: 50%;
		border-top: $height solid $color;
	}
	&:hover, &:active {
		&:before {
			border-bottom-color: $hover-color;
		}
		&:after {
			border-top-color: $hover-color;
		}
	}
}

@mixin link-bar {
	height: 2.25em;
	border: {
		width: 0.125em 0;
		style: dotted;
		color: $black;
	}
	a {
		position: relative;
		top: -0.5em;
		border-bottom: none;
		@include diamond-background;
		line-height: 3em;
		@include nowrap;
		&:hover, &:active {
			color: inherit;
		}
	}
}

@mixin divider {
	$icon-size: 2em;
	$box-size: $icon-size * 1.5;
	$leader: rhythm(3);
	$border-weight: 0.125em;

	position: relative;
	margin-top: $leader;

	&:before {
		content: " ";
		position: absolute;
		top: $leader / -2;
		width: 100%;
		height: 0;
		border-top: $border-weight dotted $black;
	}
	&:after {
		content: " ";
		background: {
			color: $blue;
			size: $icon-size $icon-size;
			repeat: no-repeat;
			position-x: $icon-size * 0.25;
			position-y: $icon-size * 0.25;
		}
		border: {
			radius: 50%;
		}
		position: absolute;
		top: ($leader / -2) + $border-weight;
		left: 50%;
		margin-left: $box-size / -2;
		margin-top: $box-size / -2;
		width: $box-size;
		height: $box-size;
	}
	&:nth-of-type(3n+1):after {
		background-image: image-url('../images/noun_project_7340.svg');
	}
	&:nth-of-type(3n+2):after {
		background: {
			image: image-url('../images/noun_project_884.svg');
			position-y: 0.35em;
		}
	}
	&:nth-of-type(3n):after {
		background: {
			image: image-url('../images/noun_project_7964.svg');
			size: 1.85em 1.85em;
			position-x: 0.65em;
			position-y: 0.65em;
		}
	}
}
