body {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 1em;

  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
}

.ratpack-logo {
  $logo-image: 'ratpack-logo.png';
  background: {
    image: simple-image-url($logo-image);
    right: no-repeat;
    size: contain;
  }
  width: image-width($logo-image);
  height: image-height($logo-image);

  h1, p {
    display: none;
  }
}

.toc ul {
  list-style-type: none;
  margin-left: 1em;

  li span {
    margin-right: 0.5em;
  }
}

pre code {
  white-space: pre-line;
}
