*#
.#*
*~
.DS_Store
.classpath
.settings
.project
.gradle
build/
bin/
out/
*.iml
*.ipr
*.iws
*.idea
.factorypath
pom.xml
target/
db/
starth2
.gradletasknamecache
.sass-cache/
.jruby/
ratpack-groovy/Expression$*.class
/.java-version
Expression$*.class
ratpack-lazybones/templates/**/VERSION
ratpack-version.txt
deploy
.jruby-container
