[project]
	description = A toolkit for JVM web applications
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Luke Daley (alkemist)
[access "refs/for/refs/*"]
	read = group user/Luke Daley (alkemist)
	push = group user/Luke Daley (alkemist)
	label-Code-Review = -2..+2 group user/Luke Daley (alkemist)
	label-Verified = -1..+1 group user/Luke Daley (alkemist)
	rebase = group user/Luke Daley (alkemist)
	removeReviewer = group user/Luke Daley (alkemist)
	submit = group user/Luke Daley (alkemist)
[access "refs/heads/*"]
	read = group user/Luke Daley (alkemist)
	create = group user/Luke Daley (alkemist)
	push = +force group user/Luke Daley (alkemist)
	pushMerge = group user/Luke Daley (alkemist)
[access "refs/tags/*"]
	push = +force group user/Luke Daley (alkemist)
	pushTag = group user/Luke Daley (alkemist)
	pushSignedTag = group user/Luke Daley (alkemist)
