<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Ratpack: ${model.title}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="stylesheet" href="lib/normalize/normalize.css">
  <link rel="stylesheet" href="styles/ratpack.css">

  <!-- build:js scripts/modernizr.js -->
  <script src="lib/modernizr/modernizr.js"></script>
  <!-- endbuild -->
</head>
<body>
  <header>
    <h1>Ratpack</h1>
    <p>a micro web framework for Java &amp; Groovy</p>
  </header>

  <section>
    <h1>${model.title}</h1>
    <p>This is the main page for your Ratpack app.</p>
  </section>

  <footer class="site-footer"></footer>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
  </script>

  <!-- build:js scripts/jquery.js -->
  <script src="lib/jquery/jquery.min.js"></script>
  <!-- endbuild -->
</body>
</html>
