$mask-image-url: 'groovepaper_alpha.png';

@mixin noise-mask {
  position: relative;
  &:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: image-url($mask-image-url);
  }
}

@mixin noise-background {
  background: {
    image: image-url($mask-image-url);
    repeat: repeat;
  }
}