<!doctype html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Ratpack: Simple, lean & powerful HTTP apps</title>
  <meta name="apple-mobile-web-app-title" content="Ratpack">
  <meta name="description" content="Ratpack apps are lightweight, fast, composable with other tools and libraries, easy to test and enjoyable to develop.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="author" href="/assets/humans.txt">
  <link rel="stylesheet" href="/assets/lib/normalize/normalize.css">
  <link rel="stylesheet" href="/assets/styles/ratpack.css">

  <script src="/assets/lib/modernizr/modernizr.js"></script>
  <script src="/assets/lib/prism/prism.js"></script>
</head>
<body>

<header id="page-header">
  <div class="ratpack-logo">
    <a href="/"><h1>Ratpack</h1></a>
    <p>Simple, lean & powerful HTTP apps</p>
  </div>
  <nav class="social">
    <h2>Ratpack is on&hellip;</h2>
    <a href="http://github.com/ratpack/" title="ratpack on GitHub" rel="external">GitHub</a>
    <span class="join">&amp;</span>
    <a href="http://twitter.com/ratpackweb" title="@ratpackweb on Twitter" rel="external">Twitter</a>
  </nav>
</header>