<% render "head.html" %>
<section id="promo">
  <div class="content">
    <article>
      <h2>What is Ratpack?</h2>

      <p>
        Ratpack is a set of Java libraries that facilitate fast, efficient, evolvable and well tested HTTP applications.
      </p>

      <p>
        It is built on the highly performant and efficient <a href="http://netty.io/">Netty</a> event-driven networking engine.
      </p>

      <p>
        Ratpack focuses on allowing HTTP applications to be efficient, modular, adaptive to new requirements and technologies, and well-tested over time.
      </p>
    </article>
    <nav>
      <h2>Quick Links</h2>
      <ul>
        <li><a href="/manual/current/">Current Manual</a></li>
        <li><a href="/versions">All Versions</a></li>
        <li><a href="https://github.com/ratpack/ratpack/issues" rel="external">Issue Tracker</a></li>
        <li><a href="http://forum.ratpack.io/">Discussion Forum</a></li>
      </ul>
    </nav>
  </div>
</section>

<section id="main">
  <article class="content">
    <p>
      The core of Ratpack is made up of only <a href="http://netty.io">Netty</a>, <a href="https://code.google.com/p/guava-libraries/">Google Guava</a> and <a href="https://github.com/reactive-streams/reactive-streams">Reactive Streams</a>.
      Currently, the APIs are based on Java 7 but will soon fully embrace Java 8.
    </p>
    <p>
      You can write Ratpack applications in Java or any alternative JVM language that plays well with Java.
      Specific support for the <a href="http://www.groovy-lang.org">Groovy</a> language is provided, utilizing the latest static compilation and typing features.
    </p>
    <p>
      Ratpack does not take a heavily opinionated approach as to what libraries and tools you should use to compose your application.
      As the developer of the application, <strong>you</strong> are in control.
      Direct integration of tools and libraries is favored over generic abstractions.
    </p>
    <p>
      Ratpack is for nontrivial, high performance, low resource usage, HTTP applications.
    </p>
    <p>
      <strong>Want to know more?</strong>
      See some example apps @ <a href="http://github.com/ratpack">github.com/ratpack</a> or checkout the <a href="/manual/current">Ratpack Manual</a>.
    </p>
    <p>
      <strong>Have a question or problem?</strong>
      Let us know about it via the <a href="http://forum.ratpack.io">forum</a>.
    </p>
    <p>
      <strong>Want to contribute to Ratpack?</strong>
      We are always eager for more contributions.
      Browse the <a href="http://github.com/ratpack/ratpack/issues">issue tracker</a> and find something to do, or raise an issue with your contribution idea.
    </p>
  </article>
</section>
<% render "footer.html" %>