<% render "head.html" %>
<section id="main">
  <article class="content">
    <h2>Released Versions</h2>
    <%
    def versions = model.get("versions") as ratpack.site.github.RatpackVersions.All
    def released = versions.released
    def unreleased = versions.unreleased

    if (released) { %>
    <p>The following are the released versions of Ratpack:</p>
    <ul>
      <% for (version in released) { %>
      <li><a href="/versions/${html version.version}">${html version.version} (${html version.due.format("yyyy-MM-dd")})</a></li>
      <% } %>
    </ul>
    <% } else { %>
    <p>No released versions of Ratpack were found at this time.</p>
    <% } %>

    <h2>Development Versions</h2>
    <%     if (unreleased) { %>
    <p>The following are the Ratpack versions currently in development:</p>
    <ul>
      <% for (version in unreleased) { %>
      <li><a href="/versions/${html version.version}">${html version.version} (${html version.due.format("yyyy-MM-dd")})</a></li>
      <% } %>
    </ul>
    <% } else { %>
    <p>No in development versions of Ratpack were found at this time.</p>
    <% } %>
  </article>
</section>
<% render "footer.html" %>