@mixin pseudo-background {
  position: relative;
  &:before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 120%;

    @content;
  }
}

@mixin button($base-color, $highlight-color) {
  display: block;
  padding: 0.75em;

  @include contrasted($base-color);
  @include noise-background;
  font: {
    family: $header-font-family;
    weight: bold;
    size: 1.2em;
  }
  text-transform: uppercase;

  @include single-transition(background-color, 0.3s);

  &:hover, &:active {
    @include contrasted($highlight-color);
  }

  em {
    font-family: $serif-font-family;
    font-style: italic;
    text-transform: lowercase;
  }
}

@mixin stack($color) {
  &:before, &:after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    height: 17%;
    @include backface-visibility(hidden);
  }

  &:before {
    left: -1%;
    width: 102%;
    @include rotate(-1deg);
    box-shadow: 0 -19px 0 0 $color, 0 -58px 0 0 $color, 0 -97px 0 0 $color;
  }

  &:after {
    left: 2%;
    width: 96%;
    @include rotate(1deg);
    box-shadow: 0 -40px 0 0 $color, 0 -77px 0 0 $color;
  }
}

html {
  background-color: $ivory;
  @include noise-background;
}

section {
  padding: 1.2em 0;
}

.masthead {
  color: contrast-color($black);
  @include pseudo-background {
    background: {
      color: $black;
    }
    @include noise-background;

    z-index: -1;

    @include transform-origin($origin-x: left);
    @include skewY(1deg);
    @include backface-visibility(hidden);
  }

  .logo {
    @include ratpack-logo-inverted;
    float: left;
    margin-top: 2.5em;
    margin-bottom: 2em;
  }

  .content {
    position: relative;
  }

  a[href*='github.com'] {
    $base-color: $blue;
    $highlight-color: transparentize($red, 0.4);

    position: absolute;
    right: 1.2em;
    bottom: 1.2em;

    @include button($base-color, $highlight-color);
    @include rotate(-1deg);
    @include backface-visibility(hidden);
    @include stack($highlight-color);
  }
}

.promo {
  color: contrast-color($blue);
  @include pseudo-background {
    background: {
      color: $blue;
    }
    @include noise-background;

    bottom: 0;
    height: 150%;
    z-index: -2;

    @include transform-origin($origin-x: right);
    @include skewY(-0.5deg);
    @include backface-visibility(hidden);
  }

  .primary {
    @include column(8);
  }

  aside {
    @include column(4);
  }

  nav {
    margin-bottom: 1.2em;
    a {
      $base-color: $blue;
      $highlight-color: transparentize($red, 0.4);
      @include button($base-color, $highlight-color);
      margin-bottom: 0.5em;
    }
  }
}

.main {
  .body {
    @include column(10);
    @include push(1);
    @include pull(1);
  }
}

.callout {
  margin-bottom: 1.2em;
  padding: 0 1.2em;
  @include contrasted(darken($blue, 45%));
  @include noise-background;
  @include box-shadow(2px 3px 0 6px transparentize(white, 0.5), -3px -2px 0 5px transparentize(white, 0.5));
}

.site-footer {
  @include contrasted($black);
  @include noise-mask;

  .content {
    $bg-image: 'ratpack-footer.png';
    min-height: image-height($bg-image);
    background: {
      image: image-url($bg-image);
      repeat: no-repeat;
      position: top left;
    }
  }

  .about {
    @include column(7);
    @include push(4);
    @include pull(1);
  }
}