$default-font-size: 5em;
$default-logo-scale: 1.2;

$logo-image-url: 'ratpack-logo.png';
$inverted-logo-image-url: 'ratpack-logo-inverse.png';
$mask-image-url: 'noise-bg.png';

@mixin noise-mask {
  &:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: image-url($mask-image-url);
  }
}

@mixin ratpack-logo(
    $font-size: $default-font-size,
    $logo-scale: $default-logo-scale,
    $text-color: $black,
    $logo-image: $logo-image-url,
    $logo-image-background: $white,
    $spectrum: true,
    $color1: transparentize($yellow, 0.4),
    $color2: transparentize($red, 0.4),
    $color3: transparentize($blue, 0.4)) {

  $gutter: $font-size / 10;
  $logo-size: $font-size * $logo-scale;
  $logo-border-width: $font-size * 0.03;
  $logo-border-color: $text-color;

  color: $text-color;
  float: left;
  clear: both;

  @include noise-mask;

  display: inline-block;
  position: relative;
  padding-left: $logo-size + $gutter;
  padding-right: $gutter;
  padding-top: $gutter;
  padding-bottom: $gutter;

  &:before {
    content: " ";
    background: {
      color: $logo-image-background;
      image: image-url($logo-image);
      position: 0 0;
      repeat: no-repeat;
      size: cover;
    }
    position: absolute;
    left: $gutter;
    top: $gutter;
    border: $logo-border-width solid $logo-border-color;
    border-radius: 50%;
    box-sizing: border-box;
    width: $logo-size;
    height: $logo-size;
    @if $spectrum {
      z-index: -1;
      box-shadow: $color1 ($logo-size / 2) 0 0, $color2 $logo-size 0 0, $color3 ($logo-size * 1.5) 0 0;
    }
  }

  h1, p {
    color: $text-color;
    margin: 0;
    text-transform: none;
  }

  h1 {
    font: {
      size: $font-size;
      family: 'Peralta', serif;
      weight: normal;
    }
    line-height: $logo-scale;
  }

  p {
    font: {
      size: $font-size * 0.32;
      family: 'Oregano', serif;
      weight: normal;
    }
    line-height: 1.1;
  }
}

@mixin ratpack-logo-inverted(
    $font-size: $default-font-size,
    $text-color: $white,
    $logo-image: $inverted-logo-image-url,
    $logo-image-background: $white,
    $spectrum: true) {
  z-index: -1;
  @include ratpack-logo($font-size: $font-size, $text-color: #fff, $logo-image: $logo-image, $logo-image-background: $logo-image-background, $spectrum: $spectrum);
}
