$contrasted-dark-default: $black;

$sans-font-family: "Cabin", sans-serif;
$sans-font-family2: "Cabin Condensed", $sans-font-family;
$serif-font-family: "Libre Baskerville", serif;
$mono-font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;

$total-width: 100%;
$gutter-width: 30px;
