$sans-font-family: sans-serif;
$sans-font-family2: "Cabin Condensed", Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
$serif-font-family: "Libre Baskerville", Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
$mono-font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;

$body-font-family: $serif-font-family;
$header-font-family: $sans-font-family2;
$code-font-family: $mono-font-family;

@include establish-baseline;

body {
  font-family: $body-font-family;

  // preferred font is larger than fallbacks so resize up if not using webfonts
  .no-fontface & {
    @include adjust-font-size-to(18px);
  }
}

h1, h2, h3, h4, h5, h6 {
  font: {
    family: $header-font-family;
  }
  .fontface & {
    font-weight: normal;
  }

  text-transform: uppercase;
}

h1 {
  @include adjust-font-size-to(44px);
}
h2 {
  @include adjust-font-size-to(37px);
}
h3 {
  @include adjust-font-size-to(27px);
}
h4 {
  @include adjust-font-size-to(23px);
}
h5 {
  @include adjust-font-size-to(18px);
}

pre, code, tt {
  font-family: $code-font-family;
  .fontface & {
    // because Libre Baskerville has a large x-height and counters we need to increase the mono font-size
    @include adjust-font-size-to(18px);
  }
}

$anchor-font-color: $blue;
$anchor-font-color-hover: $ivory;
$anchor-text-decoration: none;

a {
  color: $anchor-font-color;
  text-decoration: $anchor-text-decoration;
  line-height: inherit;

  &:hover,
  &:focus { color: $anchor-font-color-hover; }

  img { border:none; }
}

ul, ol {
  padding-left: 1.2em;
}