// Compass
@import "compass/typography";
@import "compass/css3";

// Site-wide variables
@import "palette";

// Zurb Foundation
@import "settings";
@import "../lib/foundation/scss/foundation";

// Branding & custom components
@import "ratpack-logo";

ul, ol {
	padding-left: $list-side-margin;
}

#logo {
	@include ratpack-logo;
}

.sidebar {
	background: {
		color: $black;
	}
	color: #fff;

	nav {
		@include side-nav;
	}
}

h3 {
	position: relative;
	&:before {
		content: " ";
		position: absolute;
		left: -0.5em;
		top: -0.25em;
		@include border-radius(50%);
		width: 2em;
		height: 2em;
		z-index: -1;
	}

	&:nth-of-type(3n + 1) {
		&:before {
			background-color: transparentize($yellow, 0.4);
		}
	}

	&:nth-of-type(3n + 2) {
		&:before {
			background-color: transparentize($red, 0.4);
		}
	}

	&:nth-of-type(3n + 3) {
		&:before {
			background-color: transparentize($blue, 0.4);
		}
	}
}