.main {
	@include rhythm($leader: 1, $trailer: 1);
	@include content-width;
}

.promo {
	$promo-font-size: 18px;

	@include contrasted-smooth($black);
	@include noise-background;
	@include adjust-font-size-to($promo-font-size);
	@include rhythm($padding-leader: 1, $padding-trailer: 1, $font-size: $promo-font-size);
	@include big-section-border($font-size: $promo-font-size);

	p {
		@include rhythm($leader: 1, $trailer: 1, $font-size: $promo-font-size);
	}

	a {
		@include link-colors($blue, $yellow);
	}

	h2 {
		@include adjust-font-size-to($to-size: 28px, $from-size: $promo-font-size);
		&:first-of-type {
			margin-top: 0;
		}
	}

	article, nav {
		@include full-width;
	}

	nav ul {
		@include adjust-font-size-to($to-size: 24px, $from-size: $promo-font-size);
		@include rhythm($leader: 1, $trailer: 1, $font-size: 24px);
		@include starburst-links;
		li {
			@include margin-trailer(0.5, 24px);
		}
	}

	@include when-tablet-portrait {
		@include clearfix;
		article {
			@include columns(6);
			@include push(1);
			float: left;
		}

		nav {
			@include columns(4);
			@include pull(1);
			float: left;
		}

		position: relative;
		z-index: 0;
		@include rhythm($padding-leader: 2, $padding-trailer: 2, $font-size: $promo-font-size);
		&:before, &:after {
			content: " ";
			position: absolute;
			top: 5%;
			left: 5%;
			width: 90%;
			height: 90%;
			z-index: -1;
			@include backface-visibility(hidden);
			border: {
				width: 2px;
				style: solid;
				color: transparentize($white, 0.5);
			}
		}
		&:before {
			@include transform(skew(2deg) rotate(-0.5deg));
		}
		&:after {
			@include transform(skewY(0.5deg));
		}
	}
}

.page-footer {
	.social {
		$button-size: 48px;
		$icon-font-size: 32px;

		@include adjust-font-size-to(18px);
		@include rhythm($leader: 1, $trailer: 1, $font-size: 18px);

		> * {
			display: inline-block;
			vertical-align: middle;
		}

		em {
			font: {
				family: $script-font-family;
				size: 32px;
				style: normal;
			}
		}

		a {
			background-color: $white;
			@include link-colors($black, $black);
			&:hover, &:focus {
				background-color: $yellow;
				box-shadow: 0 0 5px $yellow;
			}
			border-radius: 50%;
			text-align: center;
			line-height: $button-size;
			width: $button-size;
			height: $button-size;
			margin: {
				left: 0.25em;
				right: 0.25em;
			}
			[class^='icon-'] {
				font-size: $icon-font-size;
				&:before {
					width: 100%;
					height: 100%;
					margin: {
						left: 0;
						right: 0;
					}
				}
			}
		}
	}

	a.build-status {
		border-bottom: none;
	}

	.credits {
		text-align: center;
		@include margin-leader(1, $footer-font-size);
		a {
			border-bottom: none;
			@include rem(margin-right, 1rem);
		}
	}

	@include when-tablet-portrait {
		.multiplebgs & {
			$footer-image-url: 'ratpack-footer.png';

			.social, .about {
				margin-left: image-width($footer-image-url);
			}

			min-height: image-height($footer-image-url) + (2 * image-height('bintray.png'));
			background:
				image-url($mask-image-url) top left repeat,
				$black image-url($footer-image-url) top left no-repeat;

			padding-bottom: 2 * image-height('bintray.png');
			position: relative;
			.credits {
				position: absolute;
				bottom: rhythm(1, $footer-font-size);
			}
		}
	}
}
