.page-header {
	.social {
		$button-size: 48px;
		$border-width: 6px;

		@include adjust-font-size-to(18px);
		@include margin-leader(1);
		@include margin-trailer(1);
		@include content-width;

		> * {
			display: inline-block;
			vertical-align: middle;
		}

		a {
			background-color: $black;
			@include link-colors($white, $white);
			&:hover, &:active {
				background-color: $blue;
			}
			border-radius: 50%;
			text-align: center;
			line-height: $button-size;
			width: $button-size + (2 * $border-width);
			height: $button-size + (2 * $border-width);
			[class^='icon-'] {
				font-size: $button-size + (2 * $border-width);
			}
			&[href*='twitter'] {
				border: $border-width solid $black;
				&:hover, &:active {
					border-color: $blue;
				}
				[class^='icon-'] {
					font-size: $button-size;
				}
			}
		}
	}
}

.main {
	@include margin-leader(1);
	@include margin-trailer(1);
	@include content-width;
}

.promo {
	@include contrasted-smooth($black);
	@include noise-background;
	@include padding-leader(1);
	@include padding-trailer(1);

	a {
		@include link-colors($blue, $white);
	}

	h2:first-of-type {
		margin-top: 0;
	}

	nav a {
		display: list-item;
		list-style-position: inside;
	}

	article, aside {
		@include full-width;
	}

	@include when-tablet-portrait {
		@include clearfix;
		article {
			width: $column-width * 6;
			margin-left: $column-width;
			float: left;
		}

		aside {
			width: $column-width * 4;
			margin-right: $column-width;
			float: left;
		}

		position: relative;
		z-index: 0;
		@include padding-leader(2);
		@include padding-trailer(2);
		&:before, &:after {
			content: " ";
			position: absolute;
			top: 5%;
			left: 5%;
			width: 90%;
			height: 90%;
			z-index: -1;
			border: {
				width: 2px;
				style: solid;
				color: transparentize($white, 0.5);
			}
		}
		&:before {
			@include transform(skew(2deg) rotate(-0.5deg));
		}
		&:after {
			@include transform(skewY(0.5deg));
		}
	}
}

.page-footer {
	a.build-status {
		border-bottom: none;
	}

	.about p:first-child {
		margin-top: 0;
	}

	@include when-tablet-portrait {
		.multiplebgs & {
			> * {
				width: $column-width * 7;
				margin-left: $column-width * 5;
			}

			$footer-image-url: 'ratpack-footer.png';

			min-height: image-height($footer-image-url);
			background:
				image-url($mask-image-url) top left repeat,
				$black image-url($footer-image-url) top left no-repeat;
		}
	}
}
