.main {
	@include rhythm($leader: 1, $trailer: 1);
	@include content-width;
}

.promo {
	$promo-font-size: 18px;

	@include contrasted-smooth($black);
	@include noise-background;
	@include adjust-font-size-to($promo-font-size);
	@include rhythm($padding-leader: 1, $padding-trailer: 1, $font-size: $promo-font-size);
	@include big-section-border($font-size: $promo-font-size);

	p {
		@include rhythm($leader: 1, $trailer: 1, $font-size: $promo-font-size);
	}

	a {
		@include link-colors($blue, $yellow);
	}

	h2 {
		@include adjust-font-size-to($to-size: $h2-font-size, $from-size: $promo-font-size);
		&:first-of-type {
			margin-top: 0;
		}
	}

	article, nav {
		@include full-width;
	}

	nav {
		$link-font-size: $h4-font-size;
		ul {
			@include adjust-font-size-to($to-size: $link-font-size, $from-size: $promo-font-size);
			@include rhythm($leader: 1, $trailer: 1, $font-size: $link-font-size);
			@include starburst-links;
		}
		li {
			@include margin-trailer(0.5, $link-font-size);
		}
		a {
			font-family: $header-font-family;
			font-weight: 700;
		}
	}

	@include at-least($tablet-portrait) {
		@include clearfix;
		article {
			@include columns(6);
			@include push(1);
			float: left;
		}

		nav {
			@include columns(4);
			@include pull(1);
			float: left;
		}

		position: relative;
		z-index: 0;
		@include rhythm($padding-leader: 2, $padding-trailer: 2, $font-size: $promo-font-size);
		&:before, &:after {
			content: " ";
			position: absolute;
			top: 5%;
			left: 5%;
			width: 90%;
			height: 90%;
			z-index: -1;
			@include backface-visibility(hidden);
			border: {
				width: 2px;
				style: solid;
				color: transparentize($white, 0.5);
			}
			// fix for aliasing on iOS - place a transparent outline just outside the border
			outline: {
				width: 2px;
				style: solid;
				color: transparent;
			}
		}
		&:before {
			@include transform(skew(2deg) rotate(-0.5deg));
		}
		&:after {
			@include transform(skewY(0.5deg));
		}
	}
}

.page-footer {
  overflow: visible;

	.social {
		@include rhythm($trailer: 1);

    margin-top: -5em;

		> * {
			display: inline-block;
			vertical-align: middle;
		}

		a {
			border: none;
		}

    img {
      height: 9.142em;
    }
	}

	a.build-status {
		border-bottom: none;
	}

	.credits {
		text-align: center;
		@include margin-leader(1, $footer-font-size);
		a {
			border-bottom: none;
			@include rem(margin-right, 1rem);
			@include grayscale-until-hovered;
		}
	}

	@include at-least($tablet-portrait) {
		.multiplebgs & {
			$footer-image-url: 'ratpack-footer.png';

			.social, .about {
				margin-left: image-width($footer-image-url);
			}

			min-height: image-height($footer-image-url) + (2 * image-height('bintray.png'));
			background:
				simple-image-url($mask-image-url) top left repeat,
				$black simple-image-url($footer-image-url) top left no-repeat;

			padding-bottom: 2 * image-height('bintray.png');
			position: relative;
			.credits {
				position: absolute;
				left: 0;
				bottom: rhythm(1, $footer-font-size);
				width: 100%;
			}
		}
	}
}
