body, html, h1, h2 {
    margin: 0;
    padding: 0;
}

body {
    background: #f6f6f6;
    font-family: sans-serif;
}

#messages {
    background: #ffc;
    border-bottom: 1px solid #ddd;
    padding: 15px;
}

h1 {
    font-weight: normal;
    margin-bottom: 10px;
    font-size: 25px;
}

h2 {
    color: black;
    font-size: 18px;
    padding: 15px 15px 0 15px;
}

table.meta {
    font-size: 13px;
}

table.meta th {
    text-align: right;
    color: #666;
    padding-right: 0.5em;
    width: 12em;
}

.info {
    padding: 15px;
    font-size: 13px;
}

pre {
    margin-left: 15px;
}

.stack-core {
    color: #ccc;
}