$num-columns: 12 !default;
$content-width: 1024px !default;
$column-width: 100% / $num-columns;

@mixin full-width($padding: 1rem) {
	width: 100%;
  @if $padding > 0 {
    @include rem(padding-left, $padding);
    @include rem(padding-right, $padding);
  }
}

@mixin content-width($padding: 1rem) {
	@include full-width($padding);
	@include at-least($tablet-portrait) {
		@include columns(10);
		@include push(1);
		@include pull(1);
	}
}

@mixin columns($num-columns) {
	width: $num-columns * $column-width;
}

@mixin push($num-columns) {
	margin-left: $num-columns * $column-width;
}

@mixin pull($num-columns) {
	margin-right: $num-columns * $column-width;
}

body {
	overflow-x: hidden;
	@include at-least($full-width) {
		max-width: $content-width;
		margin: 0 auto;
	}
	.no-mediaqueries & {
		max-width: $content-width;
		margin: 0 auto;
 	}
}
