$content-width: 1024px !default;

@mixin content-width {
  width: 100%;
  max-width: $content-width;
  margin: {
    left: auto;
    right: auto;
  }
  @include rem(padding-left, 1rem);
  @include rem(padding-right, 1rem);
}

$num-columns: 12 !default;
$column-width: 100% / $num-columns;

@mixin columns($columns) {
  width: $columns * $column-width;
  @if $columns < $num-columns {
    float: left;
  }
}

@mixin push($columns) {
  margin-left: $columns * $column-width;
}

@mixin pull($columns) {
  margin-right: $columns * $column-width;
}

