$num-columns: 12 !default;
$content-width: 1024px !default;
$column-width: 100% / $num-columns;

@mixin full-width {
	width: 100%;
	@include rem(padding-left, 1rem);
	@include rem(padding-right, 1rem);
}

@mixin content-width {
	@include full-width;
	@include when-tablet-portrait {
		@include columns(10);
		@include push(1);
		@include pull(1);
	}
}

@mixin columns($num-columns) {
	width: $num-columns * $column-width;
}

@mixin push($num-columns) {
	margin-left: $num-columns * $column-width;
}

@mixin pull($num-columns) {
	margin-right: $num-columns * $column-width;
}

body {
	overflow-x: hidden;
	@include when-full-width {
		max-width: $content-width;
		margin: 0 auto;
	}
	.no-mediaqueries & {
		max-width: $content-width;
		margin: 0 auto;
 	}
}
