$logo-font-size-large: 1rem !default;
$logo-font-size-medium: 0.625rem !default;
$logo-font-size-small: 0.55rem !default;

$footer-background-color: $black !default;
$footer-font-size: 14px !default;

.content {
  @include content-width;
}

#page-header {
  @extend .content;
  position: relative;
	@include rhythm($padding-leader: 1, $trailer: 1);
  @include clearfix;
  @media (max-width: $tablet-portrait - 1px) {
    text-align: center;
  }

	.ratpack-logo {
		@include rem(font-size, $logo-font-size-small);
		&:not(.small) {
			@media (min-width: $phone-landscape) {
				@include rem(font-size, $logo-font-size-medium);
			}
      @media (min-width: $tablet-portrait) {
        @include rem(font-size, 0.75rem);
      }
			@media (min-width: $tablet-landscape) {
        @include rem(font-size, $logo-font-size-large);
			}
		}

		.no-mediaqueries & {
			@include rem(font-size, $logo-font-size-large);
		}

		a:link, a:hover, a:active, a:visited {
			color: inherit;
		}
	}
}

#page-footer {
	text-shadow: none;
	@include clearfix;
	@include contrasted-smooth($footer-background-color);
	@include adjust-font-size-to($footer-font-size);
	@include rhythm($leader: 2, $padding-leader: 1, $padding-trailer: 1, $font-size: $footer-font-size);

	a {
		@include link-colors($white, $yellow);
		@include link-underline($white, $yellow);
	}

  margin-bottom: 0;
}
