$logo-font-size-large: 1rem !default;
$logo-font-size-medium: 0.625rem !default;
$logo-font-size-small: 0.55rem !default;

$footer-background-color: $black !default;
$footer-font-size: 14px !default;

html {
	background-color: $black;
	@include noise-background;
}

body {
	@include contrasted-smooth($ivory);
	@include noise-background;
}

.page-header {
	@include rhythm($padding-leader: 1, $trailer: 1);

	.ratpack-logo {
		@include content-width;
		@include rem(font-size, $logo-font-size-small);
		&:not(.small) {
			@include at-least($phone-landscape) {
				@include rem(font-size, $logo-font-size-medium);
			}
			@include at-least($tablet-portrait) {
				@include rem(font-size, $logo-font-size-large);
			}
			@include at-least($full-width) {
				padding: {
					left: 0;
					right: 0;
				}
			}
		}

		.no-mediaqueries & {
			@include rem(font-size, $logo-font-size-large);
		}

		a:link, a:hover, a:active, a:visited {
			color: inherit;
		}
	}
}

@mixin big-section-border($border-top: true, $border-bottom: true, $font-size: $base-font-size) {
	@if $border-top {
		border-top: rhythm(1, $font-size) solid $blue;
	}
	@if $border-bottom {
		border-bottom: rhythm(1, $font-size) solid $blue;
	}
	@include at-least($full-width) {
		width: 102.5%;
		margin-left: -1.25%;
	}
}

.page-footer {
	text-shadow: none;
	@include clearfix;
	@include contrasted-smooth($footer-background-color);
	@include noise-background;
	@include adjust-font-size-to($footer-font-size);
	@include rhythm($leader: 2, $padding-leader: 1, $padding-trailer: 1, $font-size: $footer-font-size);
	@include big-section-border($border-bottom: false, $font-size: $footer-font-size);
	padding: {
		left: 1em;
		right: 1em;
	}

	a {
		@include link-colors($white, $yellow);
		@include link-underline($white, $yellow);
	}
}
