@mixin divider {
	$icon-size: 2em;
	$box-size: $icon-size * 1.5;
	$leader: rhythm(4);
	$border-weight: 0.125em;
	$icon-border-weight: $border-weight * 1.5;
	$icon-position: ($icon-size * 0.25) - $icon-border-weight;

	position: relative;
	margin-top: $leader;

	&:before {
		content: " ";
		position: absolute;
		top: $leader / -2;
		left: 1em;
		right: 1em;
		height: 0;
		border-top: $border-weight dotted $black;
	}
	.borderradius.svg & {
		&:after {
			content: " ";
			background: {
				color: $white;
				size: $icon-size $icon-size;
				repeat: no-repeat;
				position: $icon-position $icon-position;
			}
			border: {
				width: $icon-border-weight;
				style: solid;
				color: $black;
				radius: 50%;
			}
			position: absolute;
			top: ($leader / -2) + $border-weight;
			left: 50%;
			margin-left: $box-size / -2;
			margin-top: $box-size / -2;
			width: $box-size;
			height: $box-size;
		}
		&:nth-of-type(3n+1):after {
			background-image: simple-image-url('../images/noun_project_7340.svg');
		}
		&:nth-of-type(3n+2):after {
			background: {
				image: simple-image-url('../images/noun_project_884.svg');
				position: $icon-position 0.15em;
			}
		}
		&:nth-of-type(3n):after {
			background: {
				image: simple-image-url('../images/noun_project_7964.svg');
				size: 1.75em 1.75em;
				position: 0.475em 0.475em;
			}
		}
	}
}

@mixin big-section-border($border-top: true, $border-bottom: true, $font-size: $base-font-size) {
	@if $border-top {
		border-top: rhythm(1, $font-size) solid $blue;
	}
	@if $border-bottom {
		border-bottom: rhythm(1, $font-size) solid $blue;
	}
	@include at-least($full-width) {
		width: 102.5%;
		margin-left: -1.25%;
	}
}

@mixin starburst-links {
	$starburst-bitmap-image: 'starburst.png';
  $skew: -5deg;
	list-style: none;
	padding-left: 0;

  li {
    position: relative;
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: image-width($starburst-bitmap-image);
      height: image-height($starburst-bitmap-image);
      display: inline-block;
      z-index: 1;
      content: " ";
      background: {
        image: inline-image('starburst.svg');
        repeat: no-repeat;
        size: contain;
      }
      .no-svg & {
        background-image: simple-image-url($starburst-bitmap-image);
      }
    }
    &:hover, &:focus {
      &:before {
        background-image: inline-image('starburst-yellow.svg');
        .no-svg & {
          background-image: simple-image-url('starburst-yellow.png');
        }
      }
    }
  }

	a {
    font-style: italic;
    display: inline-block;
    margin-left: image-width($starburst-bitmap-image) / 1.5;
    padding: 0 0.75em 0 1em;
    vertical-align: middle;
    @include transform(rotate($skew));
    @include link-colors($white, $yellow);

    position: relative;
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      content: " ";
      background-color: transparentize($blue, 0.25);
      @include transform(skewX($skew));
      @include antialias;
    }
	}
}
