/*
 * Creates a diamond background behind an element.
 */
@mixin diamond-button($color: transparentize($anchor-font-color, 0.25), $hover-color: transparentize($anchor-font-color-hover, 0.25), $width: 6em, $height: 1.5em) {
	display: inline-block;
	text-align: center;
	line-height: 3em;
	position: relative;
	z-index: 0;
	min-width: $width;
	font-style: italic;
	@include text-shadow(0 1px 1px transparentize($anchor-font-color-hover, 0.2));
	&:before, &:after {
		position: absolute;
		z-index: -1;
		content: " ";
		top: 0;
		height: 0;
		width: 0;
		border: {
			top: $height solid transparent;
			bottom: $height solid transparent;
		}
		@include single-transition;
	}
	&:before {
		left: 50%;
		margin-left: $width * -0.5;
		border-right: $width / 2 solid opacify($color, 1);
		.rgba & {
			border-right-color: $color;
		}
	}
	&:after {
		right: 50%;
		margin-right: $width * -0.5;
		border-left: $width / 2 solid opacify($color, 1);
		.rgba & {
			border-left-color: $color;
		}
	}
	&:link, &:visited, &:active {
		color: contrast-color($color);
	}
	&:hover, &:focus {
		color: contrast-color($hover-color);
		&:before {
			@include safe-rgba(border-right-color, $hover-color);
		}
		&:after {
			@include safe-rgba(border-left-color, $hover-color);
		}
	}

	&[rel='prev'] {
		&:before {
			border-right-width: $width;
		}
		&:after {
			border-left: none;
		}
	}

	&[rel='next'] {
		&:before {
			border-right: none;
		}
		&:after {
			border-left-width: $width;
		}
	}
}

@mixin link-bar {
	height: 2.25em;
	border: {
		width: 0.125em 0;
		style: dotted;
		color: $black;
	}
	overflow: visible;
	a {
		position: relative;
		top: -0.5em;
		@include nowrap;
	}
}

@mixin divider {
	$icon-size: 2em;
	$box-size: $icon-size * 1.5;
	$leader: rhythm(4);
	$border-weight: 0.125em;
	$icon-border-weight: $border-weight * 1.5;
	$icon-position: ($icon-size * 0.25) - $icon-border-weight;

	position: relative;
	margin-top: $leader;

	&:before {
		content: " ";
		position: absolute;
		top: $leader / -2;
		left: 1em;
		right: 1em;
		height: 0;
		border-top: $border-weight dotted $black;
	}
	.borderradius.svg & {
		&:after {
			content: " ";
			background: {
				color: $white;
				size: $icon-size $icon-size;
				repeat: no-repeat;
				position: $icon-position $icon-position;
			}
			border: {
				width: $icon-border-weight;
				style: solid;
				color: $black;
				radius: 50%;
			}
			position: absolute;
			top: ($leader / -2) + $border-weight;
			left: 50%;
			margin-left: $box-size / -2;
			margin-top: $box-size / -2;
			width: $box-size;
			height: $box-size;
		}
		&:nth-of-type(3n+1):after {
			background-image: image-url('../images/noun_project_7340.svg');
		}
		&:nth-of-type(3n+2):after {
			background: {
				image: image-url('../images/noun_project_884.svg');
				position: $icon-position 0.15em;
			}
		}
		&:nth-of-type(3n):after {
			background: {
				image: image-url('../images/noun_project_7964.svg');
				size: 1.75em 1.75em;
				position: 0.475em 0.475em;
			}
		}
	}
}

@mixin starburst-links {
	$starburst-image: 'starburst.png';
	list-style: none;
	padding-left: 0;
	a {
		font-style: italic;
		display: inline-block;
		vertical-align: middle;
		&:before {
			content: image-url($starburst-image);
			height: image-height($starburst-image);
			display: inline-block;
			vertical-align: middle;
			margin-right: 0.5em;
		}
	}
}
