@mixin divider {
	$icon-size: 2em;
	$box-size: $icon-size * 1.5;
	$leader: rhythm(4);
	$border-weight: 0.125em;
	$icon-border-weight: $border-weight * 1.5;
	$icon-position: ($icon-size * 0.25) - $icon-border-weight;

	position: relative;
	margin-top: $leader;

	&:before {
		content: " ";
		position: absolute;
		top: $leader / -2;
		left: 1em;
		right: 1em;
		height: 0;
		border-top: $border-weight dotted $black;
	}
	.borderradius.svg & {
		&:after {
			content: " ";
			background: {
				color: $white;
				size: $icon-size $icon-size;
				repeat: no-repeat;
				position: $icon-position $icon-position;
			}
			border: {
				width: $icon-border-weight;
				style: solid;
				color: $black;
				radius: 50%;
			}
			position: absolute;
			top: ($leader / -2) + $border-weight;
			left: 50%;
			margin-left: $box-size / -2;
			margin-top: $box-size / -2;
			width: $box-size;
			height: $box-size;
		}
		&:nth-of-type(3n+1):after {
			background-image: image-url('../images/noun_project_7340.svg');
		}
		&:nth-of-type(3n+2):after {
			background: {
				image: image-url('../images/noun_project_884.svg');
				position: $icon-position 0.15em;
			}
		}
		&:nth-of-type(3n):after {
			background: {
				image: image-url('../images/noun_project_7964.svg');
				size: 1.75em 1.75em;
				position: 0.475em 0.475em;
			}
		}
	}
}

@mixin big-section-border($border-top: true, $border-bottom: true, $font-size: $base-font-size) {
	@if $border-top {
		border-top: rhythm(1, $font-size) solid $blue;
	}
	@if $border-bottom {
		border-bottom: rhythm(1, $font-size) solid $blue;
	}
	@include at-least($full-width) {
		width: 102.5%;
		margin-left: -1.25%;
	}
}

@mixin starburst-links {
	$starburst-bitmap-image: 'starburst.png';
	list-style: none;
	padding-left: 0;
	a {
		font-style: italic;
		display: inline-block;
		vertical-align: middle;
		&:before {
			content: " ";
			background: {
				image: inline-image('starburst-blue.svg');
				repeat: no-repeat;
				size: contain;
			}
			.no-svg & {
				background-image: image-url($starburst-bitmap-image);
			}
			width: image-width($starburst-bitmap-image);
			height: image-height($starburst-bitmap-image);
			display: inline-block;
			vertical-align: middle;
			margin-right: 0.5em;
		}
		&:hover, &:focus {
			&:before {
				background-image: inline-image('starburst-yellow.svg');
			}
		}
	}
}
