$sans-font-family: "Cabin", serif;
$sans-font-family2: "Cabin Condensed", serif;
$serif-font-family: "Libre Baskerville", serif;

$body-font-family: $sans-font-family;
$header-font-family: $sans-font-family2;

$body-bg: $ivory;
$primary-color: $blue;
$alert-color: $red;
$success-color: $green;

// $list-style-position: inside;