.content {
  @include clearfix;
}

#page-header .social {
  $social-font-size: 1.3rem;
  $social-background-color: $lichtgrau;
  $social-link-background: $white;
  $social-link-highlight: $yellow;

  @media (max-width: $tablet-portrait - 1px) {
    @include margin-leader(1);
  }

  @media (min-width: $tablet-portrait) {
    text-align: left;
    position: absolute;
    right: 0.5em;
    bottom: 0;
  }

  @include rem(font-size, $social-font-size);

  h2 {
    font: {
      family: $sans-font-family;
      size: 1em;
    }
    line-height: 1;
    margin: 0;
    @include transform(rotate(-5deg));
  }

  a {
    display: inline-block;
    $badge-size: image-height('twitter-badge.png');
    width: $badge-size;
    height: $badge-size;
    text-indent: -9999px;

    &[href*='github'] {
      background-image: simple-image-url('github-badge.png');
    }

    &[href*='twitter'] {
      background-image: simple-image-url('twitter-badge.png');
    }

    &:active, &:hover {
      @include transform(rotate(-10deg));
    }
  }

  .join {
    font: {
      family: $serif-font-family;
      style: italic;
      weight: 400;
    }
    text-shadow: 0 0 0.16666666666667em $white;
    @include rem(font-size, 3rem);
  }

  a, .join {
    vertical-align: middle;
  }
}

#promo {
  $promo-background-color: $purple;
  $promo-text-color: contrast-color($promo-background-color);
  $promo-link-color-active: $yellow;

  @include banner($promo-background-color);
  @include margin-leader(1);
  @include margin-trailer(1);

  @media (min-width: $tablet-portrait) {
    @include rem(padding-left, 1rem);
    @include rem(padding-right, 1rem);
  }

  a {
    @include link-colors($promo-text-color, $promo-link-color-active);
    @include link-underline($promo-text-color, $promo-link-color-active);
  }

  .content {
    @include clearfix;
    @include rem(padding-left, 1rem);
    @include rem(padding-right, 1rem);

    @media (min-width: $tablet-portrait) {
      @include rem(padding, 2rem);
      @include frame;
    }
  }

  @media (min-width: $phone-landscape) {
    article h2 {
      @include starburst($h2-font-size);
    }
  }

  nav {
    @media (min-width: $phone-landscape) and (max-width: $tablet-portrait - 1px) {
      h2 {
        @include starburst($h2-font-size);
      }
    }

    ul {
      font: {
        family: $sans-font-family;
        style: italic;
        weight: 700;
      }
      @include adjust-font-size-to(26px);
      margin-top: 0;
    }

    a {
      border-bottom: none;
    }
  }

  @media (min-width: $tablet-portrait) {
    article, nav {
      :first-child {
        margin-top: 0;
      }

      :last-child {
        margin-bottom: 0;
      }
    }

    article {
      @include columns(8);
      @include rem(padding-right, 1rem);
    }

    nav {
      @include columns(4);
    }
  }
}

blockquote {
  background-color: lightgrey;
  padding: 0.1em 1em;
  border-radius: 4px;
}

// this makes the social buttons overlap on top of the promo box
@media (max-width: $tablet-portrait - 1px) {
  $overlap: image-height('twitter-badge.png') / 2;

  #page-header {
    margin-bottom: -$overlap;
    z-index: 1;
  }

  #promo {
    margin-top: 0;
    .content {
      padding-top: $overlap;
    }
  }
}

#learning-ratpack {
  height: 220px;
  margin-left: 1em;
  box-shadow: 0 0 4px $yellow;
  margin-bottom: 4px;
  margin-top: 4px;
}

#page-footer {
  clear: both;
  .credits {
    text-align: center;
    @include margin-leader(1, $footer-font-size);
    a {
      border-bottom: none;
      @include rem(margin-right, 1rem);
      @include grayscale-until-hovered;
    }
  }

  background-color: $black;

  @media (min-width: $tablet-portrait) {
    .content {
      $footer-image: 'ratpack-footer.png';
      $footer-image-width: image-width($footer-image);
      $footer-image-height: image-height($footer-image);
      $credits-height: 2 * image-height('bintray.png');

      .about {
        margin-left: $footer-image-width;
      }

      min-height: $footer-image-height + $credits-height;
      background: {
        image: simple-image-url($footer-image);
        position: top left;
        repeat: no-repeat;
      }

      padding-bottom: $credits-height;
      position: relative;
      .credits {
        position: absolute;
        left: 0;
        bottom: rhythm(1, $footer-font-size);
        width: 100%;
      }
    }
  }
}
